.main-navigation .search-form {
    display: none;
}

@media screen and (min-width: 993px) {
    #site-navigation {
        display: block !important;
    }

    .group-gallery .wp-block-gallery .wp-block-image {
        width: calc(18% - var(--wp--style--unstable-gallery-gap, 16px) * .66667) !important;
        height: 150px;
    }
}

@media screen and (min-width: 768px) {
    .woocommerce #content div.product div.images,
    .woocommerce div.product div.images, .woocommerce-page #content div.product div.images,
    .woocommerce-page div.product div.images {
        display: flex;
        flex-direction: column;
    }

    .product-variable-filter {
        width: 30%;
        float: left;
    }

    .content-area.has_sidebar .site-main {
        width: 70%;
    }

    /*.woocommerce #content div.product div.summary,
    .woocommerce div.product div.summary,
    .woocommerce-page #content div.product div.summary,
    .woocommerce-page div.product div.summary {

        width: 38%;

    }*/
    .woocommerce div.product div.images .flex-control-thumbs {
        width: 50%;
        margin: 15px auto 0;
    }
}

@media screen and (max-width: 1024px) {
    .carousel .carousel-indicators {
        padding-left: 242px;
        padding-right: 50%;
    }

    .carousel .item .item-background .item-inner-background {
        background: linear-gradient(-61deg, transparent 39.95%, #009fb4 40%, #00cde8 95%);
    }

    .carousel .item .carousel-caption {
        padding-left: 242px;
        padding-top: 28px;
        padding-right: 42%;
    }

    .top-navigation {
        display: none !important;
    }

    .header-right .menu-toggle {
        margin-left: 0 !important;
    }

    .hero-content-main h2 {
        font-size: 3.5rem
    }

    .hero-content-main .pre-heading {
        font-size: 2rem;
    }

    .main-button {
        font-size: 1.375rem;
    }

    .flickity-prev-next-button {
        border-width: 2px;
        width: 40px;
        height: 40px;
    }

    .flickity-prev-next-button .flickity-button-icon {
        border-top-width: 11px;
        border-bottom-width: 11px;
        border-left-width: 11px;
    }

    .flickity-prev-next-button.previous .flickity-button-icon {
        border-right-width: 11px;
    }
}

@media screen and (max-width: 992px) {
    .flickity-prev-next-button {
        display: none
    }

    .search h4 {
        font-size: 1.1rem;
    }

    .main-navigation .search-form {
        display: block;
        margin-bottom: 15px !important;
    }

    .header-right .header-search, .header-right .contact-box {
        display: none;
    }

    .custom-logo-link {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .navbar-toggler-icon {
        -webkit-mask: url(../img/bars.svg) no-repeat 100%;
        mask: url(../img/bars.svg) no-repeat 100%;
        background-color: #333;
    }

    .navbar-toggler {
        padding: 0;
        position: absolute;
        right: 15px;
        top: -52px;
        display: block;
    }

    .site-navigation .container {
        position: relative;
    }

    #primary-menu > li {
        width: 100%;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.5px;
        font-size: 16px;
    }

    .site-navigation {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    #home_slider {
        height: 250px;
    }

    .carousel .item .item-background {
        padding-left: 60%;
    }

    .carousel .item .item-background .item-inner-background {
        background: linear-gradient(-61deg, transparent 29.95%, #009fb4 30%, #00cde8 95%);
    }

    .carousel .item .carousel-caption {
        padding-right: 35%;
    }

    body.woocommerce-sidebar #secondary, body.woocommerce-sidebar .content-area {
        width: 100%;
        padding-right: 0px;
    }
}

@media screen and (max-width: 767px) {
    .content-area.has_sidebar {
        flex-direction: column;
    }

    .tax-product_custom_type #main .container {
        padding: 35px 0 0;
    }

    .woocommerce-products-header > img ,
    .product-complementary-section img{
        width: 100%;
    }
    .product-complementary-section {
        margin-top: 50px;
    }
    .tax-product_custom_type .filter-blog {
        padding-right: 0;
        border: 0;
    }
    .tax-product_custom_type .woo-breadcrumbs {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .woocommerce-account .woocommerce-MyAccount-navigation {
        float: none;
        width: 100% !important;
    }

    body.woocommerce-account .woocommerce-MyAccount-content {
        float: none;
        width: 100%;
        padding: 0;
        border: none;
    }

    .woocommerce-account .overview-content {
        grid-template-columns: auto;
    }

    .entry-sub-title {
        font-size: 1.5rem;
        text-align: center;
    }

    .site-footer .menu {
        columns: 2
    }

    .product-category-wrapper, .datwyler-mobility ul {
        columns: 1;
    }

    body .product-request-button, body .button {
        font-size: 1.5rem !important;
    }

    .page-header.has-background {
        height: 350px;
    }

    .page-header .entry-title {
        font-size: 3rem;
    }

    .inovation-futured-section .wp-block-heading {
        font-size: 2rem;
    }

    .footer-right {
        padding: 25px 15px 0;
    }

    .datwyler-mobility li {
        margin-bottom: 15px
    }

    #home_slider {
        border-bottom: 1px solid #dbdbdb;
        height: auto;
    }

    .carousel .carousel-indicators {
        bottom: auto;
        top: 130px;
        padding: 0;
    }

    .carousel .carousel-indicators li {
        width: 5px;
        height: 5px;
        background-color: #dbdbdb;
        margin: 0 2px 0 1px;
    }

    .carousel .item .item-background {
        /* height: 130px; */
        position: static;
        padding-left: 0;
        background-size: 100% 125px;
        background-repeat: no-repeat;
        background-position: top right;
    }

    .carousel .item .item-background .item-inner-background {
        background: linear-gradient(121deg, #00cde8 80px, #009fb4 150px, transparent 151px);
        position: static;
        height: 125px;
    }

    .carousel .item .carousel-caption {
        padding: 22px 22px 22px 22px;
        position: static;
        color: #df1417;
    }

    .carousel .item .carousel-caption * {
        color: #333;
        margin-bottom: 0;
    }

    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
        width: 100%;
    }
}

@media screen and (min-width: 993px) {
    #site-navigation {
        display: block !important
    }
}

@media screen and (max-width: 1199px) {
    .carousel .carousel-indicators {
        padding-left: 242px;
        padding-right: 50%
    }

    .carousel .item .item-background .item-inner-background {
        background: linear-gradient(-61deg, transparent 39.95%, #009fb4 40%, #00cde8 95%)
    }

    .carousel .item .carousel-caption {
        padding-left: 242px;
        padding-top: 28px;
        padding-right: 42%
    }
}

@media screen and (max-width: 992px) {
    .search h4 {
        font-size: 1.1rem
    }

    .main-navigation .search-form {
        display: block;
        margin-bottom: 15px !important
    }

    .header-right .header-search, .header-right .contact-box {
        display: none
    }

    .custom-logo-link {
        margin-top: 15px;
        margin-bottom: 15px
    }

    .navbar-toggler-icon {
        -webkit-mask: url(../img/bars.svg) no-repeat 100%;
        mask: url(../img/bars.svg) no-repeat 100%;
        background-color: #333
    }

    .navbar-toggler {
        padding: 0;
        position: absolute;
        right: 15px;
        top: -52px;
        display: block
    }

    .site-navigation .container {
        position: relative
    }

    #primary-menu > li {
        width: 100%;
        text-align: center;
        font-weight: 700;
        letter-spacing: .5px;
        font-size: 16px
    }

    .site-navigation {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
    }

    #home_slider {
        height: 250px
    }

    .carousel .item .item-background {
        padding-left: 60%
    }

    .carousel .item .item-background .item-inner-background {
        background: linear-gradient(-61deg, transparent 29.95%, #009fb4 30%, #00cde8 95%)
    }

    .carousel .item .carousel-caption {
        padding-right: 35%
    }

    body.woocommerce-sidebar #secondary, body.woocommerce-sidebar .content-area {
        width: 100%;
        padding-right: 0
    }
}

@media screen and (max-width: 767px) {
    #home_slider {
        border-bottom: 1px solid #dbdbdb;
        height: auto
    }

    .carousel .carousel-indicators {
        bottom: auto;
        top: 130px;
        padding: 0
    }

    .carousel .carousel-indicators li {
        width: 5px;
        height: 5px;
        background-color: #dbdbdb;
        margin: 0 2px 0 1px
    }

    .carousel .item .item-background {
        position: static;
        padding-left: 0;
        background-size: 100% 125px;
        background-repeat: no-repeat;
        background-position: top right
    }

    .carousel .item .item-background .item-inner-background {
        background: linear-gradient(121deg, #00cde8 80px, #009fb4 150px, transparent 151px);
        position: static;
        height: 125px
    }

    .carousel .item .carousel-caption {
        width: 100%;
        left: 0;
        bottom: 0;
        height: 100%;
        text-align: left;
        color: #fff;
        padding-top: 68px;
        padding-left: 358px;
        padding-right: 60%;
        text-shadow: initial;
        padding-right: 50%;
    }

    .carousel .item .carousel-caption * {
        color: #FFF;
        margin-bottom: 0
    }

    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
        width: 100%
    }
}
